<div class="d-flex align-items-center min-h-100">

  <!-- ========== HEADER ========== -->
  <header class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
    <div class="d-flex d-lg-none justify-content-between">
      <a href>
        <img class="w-100" src="assets/svg/logos/logo.svg" alt="Image Description" style="min-width: 7rem; max-width: 7rem;">
      </a>
      <!-- End Select -->
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="main pt-0">
    <!-- Content -->
    <div class="container-fluid px-3">
      <div class="row">
        <!-- Cover -->
        <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
          <!-- Logo & Language -->
          <div class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
            <div class="d-none d-lg-flex justify-content-between">
              <a href>
                <img class="w-100" src="assets/svg/logos/logo.svg" alt="Image Description" style="min-width: 7rem; max-width: 7rem;">
              </a>

              <!-- End Select -->
            </div>
          </div>
          <!-- End Logo & Language -->

          <div style="max-width: 23rem;">
            <div class="text-center mb-5">
              <img class="img-fluid" src="assets/svg/illustrations/placeholder.png" alt="Image Description" style="width: 12rem;">
            </div>

            <div class="mb-5">
              <h2 class="display-4">Product Info</h2>
            </div>

            <!-- List Checked -->
            <ul class="list-checked list-checked-lg list-checked-primary list-unstyled-py-4">
              <li class="list-checked-item">
                <span class="d-block font-weight-bold mb-1">Boiler plate</span>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              </li>

              <li class="list-checked-item">
                <span class="d-block font-weight-bold mb-1">Kick start&amp; manage your services</span>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              </li>
            </ul>
            <!-- End Row -->
          </div>
        </div>
        <!-- End Cover -->

        <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
          <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
            <!-- Form -->
            <form class="js-validate">
              <div class="text-center mb-5">
                <h1 class="display-4">Forgot password?</h1>
                <p>Enter the email address you used when you joined and we'll send you instructions to reset your password.</p>
              </div>

              <!-- Form Group -->
              <div class="js-form-message form-group">
                <label class="input-label" for="resetPasswordSrEmail" tabindex="0">Your email</label>

                <input type="email" class="form-control form-control-lg" name="email" id="resetPasswordSrEmail" tabindex="1" placeholder="email@address.com" aria-label="email@address.com" required data-msg="Please enter a valid email address.">
              </div>
              <!-- End Form Group -->

              <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>

              <div class="text-center mt-2">
                <a class="btn btn-link" [routerLink]="['/auth/login']" routerLinkActive="router-link-active" >
                  <i class="tio-chevron-left"></i> Back to Sign in
                </a>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
</div>